<div>
  <div class="">
    <div class="box">
      <div class="bread-top">
        <div class="seeds"></div>
        <div class="seeds2"></div>
      </div>

      <!-- <p *ngIf="addedIngredients.length === 0">Please start adding ingredients!</p> -->
      <app-burger-ingredient *ngFor="let ingredient of orderIngredients;" type="{{ingredient}}"></app-burger-ingredient>

      <div class="bread-bottom"></div>
    </div>
  </div>
  <div class="camel">
    <button type="button" class="btn btn-danger mx-1" (click)="cancel()">
      Cancel
    </button>
    <button type="button" (click)="checkoutContinuedHandler()" class="btn btn-success mx-1">Continue</button>
  </div>
  <hr my-2 />
  <div *ngIf="open" class="ContactData">
    <h4>Enter your Contact Data</h4>
    <form #f="ngForm">
      <div class="form-group">
        <input type="text" ngModel name="name" class="form-control" placeholder="Your Name" required/>
      </div>
      <div class="form-group">
        <input type="text" ngModel name="street" class="form-control" placeholder="Street" required/>
      </div>
      <div class="form-group">
        <input type="number" ngModel name="zipcode" class="form-control" placeholder="Zip Code" pattern="^[1-9]+[0-9]*$" required/>
      </div>
      <div class="form-group">
        <input type="text" ngModel name="country" class="form-control" placeholder="Country" required/>
      </div>
      <div class="form-group">
        <input type="text" ngModel name="email" class="form-control" placeholder="Your E-Mail" required/>
      </div>
      <div class="form-group">
        <select class="form-control">
          <option>Cheapest</option>
          <option>Fastest</option>
        </select>
      </div>
      <button (click)="onSubmit()" class="my-3 btn-md" [disabled]="!f.valid">Order</button>
    </form>
  </div>
</div>
